@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --separators: #d1d5dc;
  --separators-thick: #d1d5dc;
  --numbers: #27272a;
  --selected-cell: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --separators: #27272a;
    --separators-thick: #27272a;
    --numbers: #d1d5dc;
    --selected-cell: #ff0000;
  }
}

@theme inline {
  --color-separators: var(--separators);
  --color-separators-thick: var(--separators-thick);
  --color-numbers: var(--numbers);
  --color-selected-cell: var(--selected-cell);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
