@import "tailwindcss";

:root {
  --page-background: #ffffff;
  --cell-background: #ffffff;
  --separator-thin: #d1d5dc;
  --separator-thick: #d1d5dc;
  --cell-number: #27272a;
  --cell-selected: #8ae6dc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #0a0a0a;
    --cell-background: #0a0a0a;
    --separator-thin: #27272a;
    --separator-thick: #27272a;
    --cell-number: #d1d5dc;
    --cell-selected: #01332e;
  }
}

@theme inline {
  --color-page-background: var(--page-background);
  --color-cell-background: var(--cell-background);
  --color-separator-thin: var(--separator-thin);
  --color-separator-thick: var(--separator-thick);
  --color-cell-number: var(--cell-number);
  --color-cell-selected: var(--cell-selected);
}

body {
  background: var(--page-background);
  font-family: Arial, Helvetica, sans-serif;
}
